<div class="student-container">
    <div class="button-group">
        <button class="button button-left" routerLink="./a-student-complaint" routerLinkActive="active-link">Complaints</button>
        <button class="button" routerLink="./a-student-list" routerLinkActive="active-link">Students</button>
        <button class="button button-right" routerLink="./a-student-leaves" routerLinkActive="active-link">Leaves</button>
    </div>
    <router-outlet></router-outlet>
    <!-- Toggle button to toggle in adduser and displayStudent -->
    <!-- {{'Show Students'}}
    <mat-slide-toggle [(ngModel)]="removeAddStudentPage">
        {{ 'Add Student' }}
    </mat-slide-toggle>
    <br><br> -->


    <!-- Display body  -->
    <!-- <ng-container *ngIf="!removeAddStudentPage; else addStudent"> -->
        
        <!-- <app-getstudentlist [StudentData]="StudentData" (Delete)="Deleteaction($event)" (Edit)="Editaction($event)"></app-getstudentlist>
        <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" [nexPage]="nexPage"
            [previousPage]="previousPage" (nextPage)="loadNextPage()" (prevPage)="loadPrevPage()">
        </app-pagination> -->
    <!-- </ng-container> -->
    <!-- <ng-template #addStudent>
        <h2>Add New student</h2>
        <br>
        <app-form-component></app-form-component>
    </ng-template> -->



</div>