.table-conatiner {
  padding: 20px;
  overflow-x: auto;
}

table {
 
  width: 100%;
}


.table-header-row {
  font-weight: bold;
  text-transform: uppercase;
}


/* For screens smaller than 768px */
@media (max-width: 768px) {

  
}